.cproject
.project
.settings/
.github
.idea/
**/*.sw?
**/.DS_Store
*.cmake
*.a
*.o
CMakeFiles/
CMakeCache.txt
compile_commands.json
SoftEtherVPN.cbp
Makefile

bin/
build/
tags
cmake-build-debug/
src/bin/BuiltHamcoreFiles/
tmp/


